{% extends 'charsheet/base.html' %}

{% block content %}
<header class="page-header">
    <a href="https://fontmeme.com/fonts/dragon-hunter-font/"><img src="https://fontmeme.com/permalink/240503/4f3f8a60f32deb9a80d0fc341e7271c9.png" alt="dragon-hunter-font" border="0"></a>
</header>
    <section class="characters">
        {% for c in char %}
            <article class="character card">
                <div class="card-body">
                    <h2 class="card-title">
                        <a href="{% url 'char_detail' pk=c.pk %}">{{ c.Name }}</a>
                    </h2>
                    <p class="card-text">{{ c.Race }} {{ c.Class }}</p>
                </div>
            </article>
        {% empty %}
            <p>No characters found.</p>
        {% endfor %}
    </section>
    <div class="new-character">
        <a href="{% url 'char_new' %}" class="btn btn-primary">Create New Character</a>
    </div>
{% endblock %}
